<%= form_for(@order_item, html: { class: "form-inline", id: "edit" }) do |f| %>
  <div class="row">
	  <div class="col-lg-4">
		  <div class="wrapper">
			  <div class="input-group input-group-2">
				  <%= f.number_field :quantity, in: 1...99, class: "form-control", id: "quantity", placeholder: "Qty", oninput: "getNewTotal()" %>
		  	      <span class="input-group-btn">
				  	<%= f.submit "Update quantity", class: "btn btn-primary" %>
				  </span>
			  </div>
		  </div>
	  </div>
  </div>
  <p class="pricefoot2" id="liveprice">
  </p>
<% end %>

	