@import "bootstrap";

$grayMediumLight: #eaeaea;
$gray-light: #778899;
$gray: #bebebe;
$gray-darker: #808080;
$gray-lighter: #d3d3d3;

@mixin box_sizing {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

.navbar {max-height:5px !important}
/* universal */

html {
	overflow-y: scroll;
}

body {
	padding-top: 60px;
}

section {
	overflow: auto;
}

textarea {
	resize: vertical;
}

.center {
	text-align: center;
	h1 {
		margin-bottom: 10px;
	}
}

/* typography */

h1, h2, h3, h4, h5, h6 {
	line-height: 1;
}
h1 {
	font-size: 3em;
	letter-spacing: -2px;
	margin-bottom: 30px;
	text-align: center;
}
h2 {
	font-size: 1.2em;
	letter-spacing: -1px;
	margin-bottom: 30px;
	text-align: center;
	font-weight: normal;
	/*color: $grayLight;*/
}
p {
	font-size: 1.1em;
	line-height: 1.7em;
}

/* header */

#logo {
	float: left;
	margin-right: 10px;
	font-size: 1.7em;
	color: #fff;
	text-transform: uppercase;
	letter-spacing: -1px;
	padding-top: 9px;
	font-weight: bold;
	line-height: 1;
	& :hover {
	color: #fff;
	text-decoration: none;
	}
}

/* footer */

footer {
	margin-top: 45px;
	padding-top: 5px;
	border-top: 1px solid $grayMediumLight;
	color: $gray-light;
	a {
		color: $gray;
		&:hover {
			color: $gray-darker;
		}
	}
	
	small {
		margin-left: auto;
		margin-right: auto;
		width: 70%;
	}
	ul {
		float: right;
		list-style: none;
		li {
			float: left;
			margin-left: 10px;
			}
	}
}
div.clear {
	position: absolute;
	right: 575px;
}
/* Miscellaneous */

.debug_dump {
	clear: both;
	float: left;
	width: 100%;
	margin-top: 45px;
	@include box-sizing;
}
/* Sidebar */

aside {
	section{ 
		padding: 10px;
		border-top: $gray-lighter;
		&:first-child {
			border: 0;
			padding-top: 0;
		}
		span {
			display: block;
			margin-bottom: 3px;
			line-height: 1;
		}
		h1 {
			font-size: 1.4 em;
			text-align: left;
			letter-spacing: -1px;
			margin-bottom: 3px;
			margin-top: 0px;
		}
	}
}

.gravatar {
	float: left;
	margin-right: 10px;
}

/* forms */
input, textarea, select, .uneditable-input {
	border: 1px solid #bbb;
	width: 100%;
	margin-bottom: 15px;
	@include box_sizing;
}
input {
	height: auto !important;
}

#error_explanation {
	color: #f00;
	ul {
		list-style: none;
		margin: 0 0 18px 0;
	}
}

.users {
	list-style: none;
	margin: 0;
	li {
		overflow: auto;
		padding: 10px 0;
		border-top: 1px solid $gray-lighter;
		&:last-child {
			border-bottom: 1px solid $gray-lighter;
		}
	}
}

.btn-custom {
  background-color: hsl(360, 73%, 36%) !important;
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#dd2b2b", endColorstr="#9e1818");
  background-image: -khtml-gradient(linear, left top, left bottom, from(#dd2b2b), to(#9e1818));
  background-image: -moz-linear-gradient(top, #dd2b2b, #9e1818);
  background-image: -ms-linear-gradient(top, #dd2b2b, #9e1818);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #dd2b2b), color-stop(100%, #9e1818));
  background-image: -webkit-linear-gradient(top, #dd2b2b, #9e1818);
  background-image: -o-linear-gradient(top, #dd2b2b, #9e1818);
  background-image: linear-gradient(#dd2b2b, #9e1818);
  border-color: #9e1818 #9e1818 hsl(360, 73%, 32%);
  color: #fff !important;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.26);
  -webkit-font-smoothing: antialiased;
}

/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
  height: 500px;
  margin-bottom: 40px;
  margin-top: -11px;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel .item {
  height: 500px;
  background-color: #777;
}
.carousel-inner > .item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 500px;
}

/* MARKETING CONTENT
-------------------------------------------------- */

/* Pad the edges of the mobile views a bit */
.marketing {
  padding-right: 15px;
  padding-left: 15px;
}

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
  margin-bottom: 20px;
  text-align: center;
}
.marketing h2 {
  font-weight: normal;
}
.marketing .col-lg-4 p {
  margin-right: 10px;
  margin-left: 10px;
}

/* Featurettes
------------------------- */

.featurette-divider {
  margin: 80px 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -1px;
}

@media (min-width: 768px) {
	/* Bump up size of carousel content */
	.carousel-caption p {
		margin-bottom: 20px;
		font-size: 21px;
		line-height: 1.4;
	}

	.featurette-heading {
		font-size: 50px;
	}
}

@media (min-width: 992px) {
	.featurette-heading {
		margin-top: 120px;
	}
}

.good_image {
	margin-left: auto;
	margin-right: auto;
	width: 25%;
}

.good_image2 {
	margin-left: auto;
	margin-right: auto;
	width: 50%;
}

.row-xs-height {
    display:table-row;
}

/* Cartbuttons */

.cartbutton {
	width: 200px;
    position: fixed;
	margin-top: 100px;
}

.cartbutton.affix {
	top: 25px;
}
/* Affix navbar */

ul.nav-tabs{
	width: 200px;
	margin-top: 150px;
	border-radius: 4px;
	border : 1px solid #ddd;
	box-shadow: 0 1px 4px rgba(0,0,0,0.067);
    position: fixed;
}
ul.nav-tabs li{
	margin: 0;
	border-top: 1px solid #ddd;
}
ul.nav-tabs li:first-child{
	border-top:none;
}
ul.nav-tabs li a{
	margin: 0;
	padding: 8px 16px;
	border-radius: 0;
}
ul.nav-tabs li.active a, ul.nav-tabs li.active a:hover{
	color: #fff;
	background: #0088cc;
	border: 1px solid #0088cc;
}	
ul.nav-tabs li:first-child a{
	border-radius: 4px 4px 0 0;
}
ul.nav-tabs li:last-child a{
	border-radius: 0 0 4px 4px;
}
ul.nav-tabs.affix{
	top: 30px;
}


.col-md-4{
	margin-top:50px;
	margin-bottom: 30px;
	.a{
		.subhead2{
			margin-left: auto;
			margin-right: auto;
			width: 70%;
		}
	}
}

.col-md-9{
	border-bottom: 1px solid black;
	margin-top: 10px;
	margin-bottom: 10px;
	h2.subhead{
	    position: absolute;
	    left: 0px;
		font-size: 25px;
	  
	}
}

#books{
	text-align: center;
	margin-top: 10px;
}

.subheader{
	margin-bottom: 50px;
}

.form-inline{
	form {	
		float: left;
		padding-right: 5px;
		.input-group {
			width: 175px;
		}
	}
	h1.pricefoot {
		float: right;
		margin-bottom: 0px;
		margin-top: -5px;
	}
	p.pricefoot2 {
		float: right;
		margin-bottom: -10px;
		margin-top: -45px;
		font-size: 30px;
		font-style: bold;
		padding-bottom: 0px;
	}
	.input-group-2 {
		width: 200px;
	}
	
}


.modal-script{
	text-align: center;
}

.modal-script2 {
	text-align: center;
	float: left;
	margin-left: 150px;
}

.modal-title {
	margin-bottom: -30px;
}

div.instock{
	color: green;
	background-color: white;
	font-style: bold;
	text-align: center;
}

.outstock{
	color: red;
	background-color: white;
	font-style: bold;
	text-align: center;
}

.modal {
	.modal-header{
		background-color: black;
		height: 50px;
		-webkit-border-top-left-radius: 5px;
		-webkit-border-top-right-radius: 5px;
		-moz-border-radius-topleft: 5px;
		-moz-border-radius-topright: 5px;
		border-top-left-radius: 5px;
		border-top-right-radius: 5px;
		.modal-heading{
			color: white;
			font-size: 30px;
			font-style: bold;
			text-align: center;
			margin-top: -15px;
		}
	}
	.modal-body {
	    max-height: 450px;
	    overflow-y: auto;
	}
}

