<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
				<h3 class="modal-heading" id="myModalLabel">Modal header</h4>
			</div>
			<div class="modal-body">
			    <p>One fine body…</p>
			 </div>
			<div class="modal-footer smallfoot">
				<%= button_to 'Add to Cart', '#', class: "btn btn-primary", type: 'button' %>
			</div>
		</div>
	</div>
</div>